@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css");

.fefu-blue {
  color: #3b63ab;
}

.fefu-blue-2 {
  color: #6995d0;
}

.fefu-red {
  color: #bc2940;
}

.fefu-white {
  color: #ffffff;
}
