@font-face {
  font-family: 'Unbounded-Bold';
  src: url('./fonts/unbounded-bold.eot'); /* IE 9 Compatibility Mode */
  src:
    url('./fonts/unbounded-bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./fonts/unbounded-bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/unbounded-bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./fonts/unbounded-bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/unbounded-bold.svg#unbounded-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
